@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@400;700&family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html {
    background-color: #7502D1;
    background-image: url(../images/squiggle.svg);
    background-position: left 200px;
    background-repeat: no-repeat;
    background-size: 600px;
    color: #FFF;
    font: normal 16px/1.5 'Inter', -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
a:active {
    opacity: 0.64;
    transform: scale(0.975);
}

.container {
    margin: auto;
    max-width: 1200px;
    padding: 0 24px;
    overflow: hidden;
}
.about .container {
    overflow: visible;
}
.work-container img {
    box-shadow: 0 12px 32px rgba(33, 37, 41, 0.24);
    max-width: 100%;
}

.tldr {
    background-color: #171C21;
    border-radius: 24px;
    padding: 32px 40px;
    list-style: none;
}
.tldr li:after {
    content: ",";
    left: .125em;
    opacity: 0.64;
    position: relative;
}
.tldr li:last-of-type:after {
    content: "";
}

.has-many {
    background-color: #171C21;
    border-radius: 24px;
    padding: 24px;
}
.has-many img {
    border-radius: 8px;
}
.has-many img:nth-of-type(n+2) {
    margin-top: 24px;
}
@media screen and (min-width: 800px) {
    .work-container {
        margin-left: auto;
        margin-right: auto;
        max-width: 800px;
    }
    .work-container img {
        border-radius: 8px;
        max-width: 100%;
    }
    .has-many img:nth-of-type(n+2) {
        margin-top: 0;
    }
}
@media screen and (min-width: 1248px) {
    .container {
        overflow: unset;
    }
    .work-container {
        max-width: 1200px;
    }
}

strong {
    font-weight: 700;
}

.heading {
    font-weight: 700;
    line-height: 1.25;
}
.heading--lite {
    font-weight: 400;
}
.xl {
    font-size: 40px;
}
.l {
    font-size: 32px;
}
.body {
    font-size: 24px;
}
.heading--intro {
    color: #FED21C;
    font-size: 32px;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: 1px 1px 0 #03CABE, 2px 2px 0 #03CABE, 3px 3px 0 #03CABE, 4px 4px 0 #03CABE, 5px 5px 0 #03CABE, 6px 6px 0 #03CABE;
    text-transform: uppercase;
}
.hero--detail .heading--intro {
    text-align: left;
}
.text--center {
    text-align: center;
}

@media screen and (min-width: 800px) {
    .xl {
        font-size: 80px;
    }
    .l {
        font-size: 40px;
    }
    .body {
        font-size: 32px;
    }
    .grid {
        display: grid;
    }
    .grid-gap--24 {
        grid-column-gap: 24px;
        grid-row-gap: 24px;
    }
    .grid-gap--32 {
        grid-column-gap: 32px;
    }
    .grid-gap--80 {
        grid-column-gap: 80px;
    }
    .grid--2 {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid--3 {
        grid-template-columns: repeat(3, 1fr);
    }
    .grid--4 {
        grid-template-columns: repeat(4, 1fr);
    }
}

.pad-top--80 {
    padding-top: 80px;
}
@media screen and (min-width: 800px) {
    .pad-top--80 {
        padding-top: 160px;
    }
}
.mar-bot--8 {
    margin-bottom: 8px;
}
.mar-bot--16 {
    margin-bottom: 16px;
}
.mar-bot--24 {
    margin-bottom: 24px;
}
.mar-bot--32 {
    margin-bottom: 32px;
}
.mar-bot--40 {
    margin-bottom: 40px;
}
.mar-bot--64 {
    margin-bottom: 64px;
}
.mar-bot--80 {
    margin-bottom: 80px;
}
.mar-bot--160 {
    margin-bottom: 160px;
}

.ibm {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}
.header {
    background-color: rgb(117, 2, 209);
    font-size: 20px;
    left: 0;
    padding: 24px 24px 0;
}
@media screen and (min-width: 800px) {
    .header {
        background-color: rgba(117, 2, 209, 0.8);
        backdrop-filter: blur(8px);
        padding: 24px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
    }
}
.logo {
    color: #FFF;
    line-height: 40px;
    padding-left: 52px;
    position: relative;
    text-decoration: none;
}
.logo--img {
    border-radius: 12px;
    display: inline-block;
    height: 40px;
    position: absolute;
    left:0;
    top: 0;
    width: 40px;
}
.nav {
    background-color: #171C21;
    left: 0;
    line-height: 40px;
    padding: 16px 24px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
}
@media screen and (min-width: 800px) {
    .nav {
        background-color: transparent;
        margin: unset;
        padding: unset;
        position: static;
        text-align: right;
        width: auto;
    }
}
.nav--link {
    color: white;
    display: inline-block;
    position: relative;
    text-decoration: none;
}
.nav--link::before {
/*    background-color: #03CABE;*/
    background-image: url(../images/memphis-line.svg);
    background-position: center;
    background-repeat: repeat-x;
    background-size: 40px;
/*    border-radius: 4px;*/
    content: "";
    display: block;
    height: 12px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: calc(100% - 6px);
    width: 100%;
    z-index: -1;
}
.nav--link:hover::before,
.nav--link:focus::before {
    opacity: 1;
}
.nav--link:nth-of-type(n+2) {
    margin-left: 32px;
}

.hero {
    padding-top: 40px;
}
.hero--detail {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}
@media screen and (min-width: 800px) {
    .hero {
        padding-top: 160px;
    }
}

.work {
    padding: 80px 0;
}
.work--item {
    background-color: #FFF;
    border-radius: 24px;
    box-shadow: 0 12px 32px rgba(33, 37, 41, 0.24);
    display: block;
    padding: 80px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.16s ease-in-out, transform 0.08s ease-in-out;
    z-index: 2;
}
.work--item img {
    max-width: 100%;
}
.no-padding img {
    border-radius: 24px;
}
@media screen and (min-width: 800px) {
    .work {
        padding: 160px 0;
    }
    .work--item {
        border-radius: 64px;
        padding: 120px 0;
    }
    .no-padding img {
        border-radius: 64px;
    }
}
.no-padding {
    padding: 0;
}
.work--item::before,
.work--item::after {
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 95%;
    content: "";
    display: block;
    height: 80px;
    position: absolute;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    width: 80px;
    z-index: 9;
}
.work--item::before {
    background-image: url(../images/highlight--top-right.svg);
    right: -56px;
    top: -56px;
}
.work--item::after {
    background-image: url(../images/highlight--bot-left.svg);
    left: -56px;
    bottom: -56px;
}
.work--item:hover {
    box-shadow: 0 12px 32px rgba(33, 37, 41, 0.24), 0 0 0 10px #03CABE;
    transform: scale(1.025);
}
.work--item:hover::before,
.work--item:hover::after {
    opacity: 1;
}
.work--item:nth-of-type(n+2) {
    margin-top: 32px;
}
.work--item:active {
    opacity: 1;
    transform: scale(0.975);
}
.work--item:focus {
    box-shadow: 0 0 0 10px #03CABE;
}
@media screen and (min-width: 800px) {
    .work--item:nth-of-type(n+2) {
        margin-top: 0;
    }
}

.badge {
    background-color: #171C21;
    border-radius: 20px;
    color: #FFF;
    display: inline-block;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    padding: 0 10px;
}
.work--item .badge {
    position: absolute;
    left: 50%;
    top: 24px;
    transform: translateX(-50%);
}

.mini {
    color: #171C21;
    font-weight: 700;
/*    position: relative;*/
    text-decoration: none;
    transition: box-shadow 0.16s ease-in-out, color 0.24s ease-in-out, transform 0.08s ease-in-out;
}
/*.mini::before {
    content: "Mini-project";
    display: block;
    position: absolute;
    right: 24px;
    top: 24px;
}*/
.mini:hover {
    color: #FB57B9;
}
.desc {
    color: #666;
    display: block;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
}

.tw {
    background-color: #F8F5EE;
}
.fyn {
    background-color: #ecfcf9;
}
.blc {
    background-color: #FFEF20;
}
.mpj {
    background-color: #F0FBF1;
}
.bl {
    background-color: #05B2E0;
}

.more-context {
    font-size: 20px;
    position: relative;
    text-align: center;
    z-index: 3;
}
.more-context a {
    color: #FFF;
}

@media screen and (min-width: 1248px) {
    .container {
        padding: 0;
    }
    .header {
        padding: 24px 32px;
    }
}


.about {
    background-color: #5B02A3;
    padding: 80px 0 0;
    position: relative;
    z-index: 1;
}
.about::before {
    background-image: url(../images/squiggle2.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 135%;
    content: "";
    height: 1000px;
    position: absolute;
    left: 0;
    top: -400px;
    width: 100vw;
    z-index: -1;
}
@media screen and (min-width: 800px) {
    .about {
        padding: 160px 0 0;
    }
    .about::before {
        left: 80px;
        width: 300px;
    }
}


.btn {
    background-color: #FF039A;
    border-radius: 24px;
    color: #FFF;
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 56px;
    min-width: 120px;
    padding: 0 24px;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.32s ease-in-out;
}
.btn:hover {
    box-shadow: 0 12px 32px rgba(33, 37, 41, 0.24);
}
.btn:focus {
    box-shadow: 0 0 0 4px #03CABE;
    transition: none;
}
.btn:active {
    box-shadow: none;
}
.btn:nth-of-type(n+2) {
    margin-top: 24px;
}
@media screen and (min-width: 800px) {
    .btn {
        display: inline-block;
        margin: 8px;
    }
    .btn:nth-of-type(n+2) {
        margin-top: 0;
    }
    .links {
        margin-left: -8px;
        margin-right: -8px;
        margin-top: -8px;
    }
}
.btn--black {
    background-color: #171C21;
    margin: 0;
}
.btn--back {
    color: #FFF;
    display: inline-block;
    font-size: 20px;
    left: 32px;
    position: relative;
}
.btn--back::before {
    background-image: url(../images/arrow-left.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 32px;
    content: "";
    display: block;
    height: 32px;
    position: absolute;
    right: calc(100% + 8px);
    top: 0;
    width: 32px;
}


.my-resume {
    position: relative;
}
.my-resume::before {
    background-image: url(../images/squiggle3.svg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 160px;
    content: "";
    height: 420px;
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    z-index: -1;
}
@media screen and (min-width: 800px) {
    .my-resume::before {
        background-size: 200px;
        top: -80px;
    }
}
.resume {
    background-color: #171C21;
    border-radius: 24px;
    color: #FFF;
    display: block;
    font-weight: 700;
    padding: 40px;
    text-decoration: none;
    transition: box-shadow 0.32s ease-in-out;
}
.resume:hover {
    box-shadow: 0 12px 32px rgba(33, 37, 41, 0.24);
}
.resume:focus {
    box-shadow: 0 0 0 4px #03CABE;
    transition: none;
}
.resume:active {
    box-shadow: none;
}
.resume-content {
    position: relative;
}
/*.btn-content {
    display: block;
    min-width: 120px;
}*/
.resume-content--icon {
    padding-left: 8px;
    position: absolute;
}
/*.btn-content--icon {
    padding-right: 8px;
    position: absolute;
}*/
@media screen and (min-width: 800px) {
    .resume {
        border-radius: 64px;
        padding: 40px;
        text-align: center;
    }
}



.footer {
    background-image: url(../images/bottom.svg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 160px;
    padding: 320px 0 120px;
    text-align: center;
}
.footer h4 {
    color: #9F6EDB;
    font-size: 20px;
    font-weight: 400;
}
@media screen and (min-width: 800px) {
    .footer {
        background-size: 60%;
        text-align: right;
    }
}





